{% load staticfiles %}
{% for s in group.student_set.all %}
	<li id='{{s.id}}' class="sline"><span class="sn">{{ s.name }}</span>; {{ s.date }}; 
	<span class="su">{{ s.num }}</span> <span style="display: none;" class="sg">{{ s.group }}</span>
	<span style="display: none;" class="sy">{{ s.date.year }}</span> 
	<span style="display: none;" class="sm">{{ s.date.month }}</span>
	<span style="display: none;" class="sd">{{ s.date.day }}</span> </li>
	<form class="lin" action='/deletestudent/{{s.id}}/' method='post'>
		{% csrf_token %}
		{{ delsform }}

		<button class="delgroup" name="delgroup" value='{{group.id}}' alt="Delete"></button>
	</form>
	{% include 'stud/redstudent.html' %}
	<br>
{% endfor %}