{% load staticfiles %}
<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'stud/style.css' %}" />
	
</head>
<body vlink="#0000FF">
<div class="header">
<a href='/' style="color: black">STUDENTS MANAGEMENT</a>
</div>

<div class="main">
	<div class="auth">

	{% if not user.username %}
		<form action='/auth/login/' method='post'>
			<span class="err">{{ err }}</span><br>
			{% csrf_token %}
			{{form}}
			<input type='submit' class="enter1" value='login'></input>
		</form>

	{% endif %}
	
		{% if user.username %}
			<li class="out"><a href='/auth/logout/'>logout ({{ user }})</a></li>
			<li class="out"><a class="out1" href='/edit/'>Edit all </a></li>
	
		{% endif %}
	</div>
	<div class="groupss">
	<div class="studtable"><div class="studname">Full name</div><div class="birst">Birstday</div>
	<div class="number">Num</div><div class="namegroup">Group</div></div>
	
	<div class="listofstud">
		
		{% for s in student.student_set.all %}
		    <li><div class="studname">{{ s.name }}</div><div class="birst">{{ s.date }}</div><div class="number">{{ s.num }}</div><div class="namegroup">{{ s.group.groupname }}</div></li>
		{% endfor %}
	</div>
		
	</div>
<a href='/'>back to groups</a>

</div>
<script type="text/javascript">
	$(document).ready(function(){
		console.log($('.err').text())
		if($('.err').text() == 'None'){
			$('.err').text('')
		}
	});
</script>
</body>
</html>